@{
    ViewData["Title"] = "Contacto";
    ViewData["Message"] = "Información de contacto" ;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Radeluis Sanchez<br />
    2018-6577<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:20186577@itla.edu.do">20186577@itla.edu.do</a><br />
</address>
